@use "../utils" as *;

.about-carousel {
  position: relative;
  margin-bottom: rem(50);

  img {
    width: 100%;
  }

  .swiper-button {
    width: 110%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 89;
    pointer-events: none;

    button {
      width: rem(38);
      height: rem(38);
      border: none;
      border-radius: 50%;
      @include background-gradient;
      cursor: pointer;
      pointer-events: all;

      i {
        font-size: rem(24);
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      i:hover {
        opacity: 0.7;
      }
    }
  }
}

.news-board-carousel {
  width: 100%;

  .slide {
    position: relative;
    width: 100%;
    padding-top: 64%;
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      transition: all 1s ease;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      @include overlay-gradient;
    }

    .date {
      width: rem(44);
      height: rem(94);
      background-color: $white-color;
      position: absolute;
      top: rem(10);
      right: rem(10);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        color: $nice-blue-color;
        font-size: rem(12);
        font-weight: 700;
        font-family: "Roboto", sans-serif;

        &:nth-child(1) {
          border-bottom: rem(2) solid $nice-blue-color;
          padding: rem(4) 0;
        }

        &:nth-child(2) {
          font-size: rem(22);
          border-bottom: rem(3) solid $nice-blue-color;
          padding: rem(3) 0;
        }

        &:nth-child(3) {
          padding: rem(3) 0;
        }
      }
    }

    p {
      position: absolute;
      bottom: rem(16);
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      padding: 0 rem(10);
      overflow-wrap: break-word;

      &:hover {
        @include background-gradient;
        background-clip: text;
        color: transparent;
      }
    }

    &:hover {
      img {
        scale: 1.2;
        transition: all 4s ease;
      }
    }
  }
}

.activity-section-carousel,
.course-carousel {
  position: relative;
  width: 100%;
  background-color: $nice-blue-color;
  padding: rem(40);
  padding-bottom: rem(4);

  .swiper {
    margin: rem(30) rem(40);
    padding-bottom: rem(70);

    .slide-wrapper {
      position: relative;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        img {
          scale: 1.2;
        }

        .overlay {
          opacity: 0.8;
        }

        .detail {
          bottom: 0;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.3s ease-in-out;
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include background-gradient;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .detail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -100%;
        left: 0;
        z-index: 10;
        transition: all 0.3s ease-in-out;

        &-icons {
          display: flex;
          flex-direction: row;
          gap: rem(10);

          span {
            width: rem(45);
            height: rem(45);
            border-radius: 50%;
            background-color: $white-color-opacity;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;

            i {
              color: $white-color;
              font-size: rem(18);
            }

            &:hover {
              background-color: $white-color-opacity-hover;
            }
          }
        }

        &-title {
          margin-top: rem(10);

          p {
            width: 100%;
            color: $white-color;
            font-size: rem(16);
            font-weight: 700;
            text-align: center;
            padding: rem(6) rem(20);
            overflow-wrap: break-word;
          }
        }

        &-date {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: rem(8);
          margin-top: rem(10);

          p {
            color: $white-color;
            font-family: "Roboto", sans-serif;
            font-size: rem(14);
            font-weight: 400;
            opacity: 0.9;
          }
        }
      }
    }
  }

  .swiper-button {
    width: 97%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 89;
    pointer-events: none;

    button {
      width: rem(38);
      height: rem(38);
      border: none;
      border-radius: 50%;
      @include background-gradient;
      cursor: pointer;
      pointer-events: all;

      i {
        font-size: rem(24);
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      i:hover {
        opacity: 0.7;
      }
    }
  }
}

.course-carousel {
  background-color: $white-color;
  padding: rem(40) 0 0 0;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      padding: 0 rem(15);
      @include background-gradient;
      background-clip: text;
      color: transparent;
    }

    span {
      width: 100%;
      height: rem(1);
      background-color: $link-color;
    }
  }

  .swiper {
    margin: rem(20) 0;
    padding-bottom: rem(60);

    .slide-wrapper {
      &:hover {
        .overlay {
          opacity: 0.6;
        }
      }
      .overlay {
        @include course-hover-gradient;
        opacity: 0;
      }
    }
  }

  .swiper-button {
    width: 90%;
  }
}
