@use "../utils" as *;

.about-slider {
  margin-bottom: rem(70);

  .slide-tabs {
    display: flex;
    justify-content: center;
    gap: rem(30);
    margin: rem(20);

    label {
      position: relative;
    }

    input {
      position: absolute;
      opacity: 0;
      display: none;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: rem(15);
      width: rem(15);
      background-color: $white-color;
      border-radius: 50%;
      border: rem(3) solid $radio-color;
      cursor: pointer;
    }

    label:hover input ~ .checkmark {
      background-color: $radio-color;
    }

    label input:checked ~ .checkmark {
      background-color: $radio-color;
    }
  }

  .slider {
    width: 100%;
    height: fit-content;

    .slides {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: 30% 70%;
      padding: rem(30) 0;
      overflow-wrap: break-word;

      .display-4 {
        margin-left: rem(40);
        line-height: 2;
      }

      ul {
        margin-left: rem(20);
        margin-top: rem(10);
      }

      li {
        list-style-type: disc;
      }
    }
  }
}
