$gray-color: #b1b4b8;
$gray-color-light: #ededed;
$gray-color-dark: #aeb1b5;
$gray-background-color: #f5f5f5;
$font-gray-color: #8b8d94;
$white-color: #fff;
$white-color-opacity: rgba(255, 255, 255, 0.3);
$white-color-opacity-hover: rgba(255, 255, 255, 0.6);
$black-color: #333;
$dark-color: #1a1c20;
$nice-blue-color: #0d76a6;
$radio-color: #5aa1e3;
$link-color: #1ebbf0;
$green-color: #12bc00;
